#footer{
  position:relative;
  bottom: 0px;
  margin-top: 50px;
  padding: 20px;
  color: #fff;
  background: #3490DC;
}

.navbar-custom {
    background-color: #ffff;
}

.navbar-nav{
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.dropdown-menu{
  border:1px solid black;
}
#search{
  position: absolute;
  right: 0px;
  padding: 15px;
}

.buttonf{
  position: absolute;
  right: 0px;
  padding: 5px;
}
