#footer{
  position:relative;
  bottom: 0px;
  margin-top: 50px;
  padding: 20px;
  color: #fff;
  background: #3490DC;
}

#title{
  background: #3490DC;
}
//navbar
.navbar{
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #3490DC;
}
.nav-link{
  text-decoration: none;
  color: #ffffff;
}
<<<<<<< HEAD
<<<<<<< HEAD
.dropdown-menu{
  border:1px solid black;
}
=======
=======
>>>>>>> 2b8a2216da2a6369b7aed16791e988c7d4bbb885

//Header
.text-white{
  background: #3490DC;
}

.btn{
  background: #3490DC;
  color: #ffffff;
}

<<<<<<< HEAD
>>>>>>> 5742434a382f777c20c0a77ba417c567e3f3bb28
=======
>>>>>>> 2b8a2216da2a6369b7aed16791e988c7d4bbb885
#search{
  position: relative;
  right: 0px;
  padding: 15px;
}

.buttonf{
  position: absolute;
  right: 0px;
  padding: 5px;
}
