#footer{
  position:relative;
  bottom: 0px;
  margin-top: 50px;
  padding: 20px;
  color: #fff;
  background: #3490DC;
}

#title{
  background: #3490DC;
}
//navbar
.navbar{
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  background: #3490DC;
}
.nav-link{
  text-decoration: none;
  color: #ffffff;
}

//Header
.text-white{
  background: #3490DC;
}

.btn{
  background: #3490DC;
  color: #ffffff;
}

#search{
  position: absolute;
  right: 0px;
  padding: 15px;
}

.buttonf{
  position: absolute;
  right: 0px;
  padding: 5px;
}
